body {
  background: rgb(170, 240, 170);
  margin-left: 50px;
  margin-right: 200px;
}

header {
  margin-top: 70px;
}


h1 {
  color: rgb(5, 60, 5);
  font-family: fantasy;
}

h2 {
  font-family: fantasy;
}

p {
  font-size: 18px;
}

img {
  margin-bottom: 20px;
}

.img_contato {
  margin-bottom: 0;
}

footer{ 
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 10px;
}

footer p{ 
  font-size: 10px;
}
